<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Test Tailwind</title>
    <link href="./client/css/root.css" rel="stylesheet" />
</head>

<body>
    <h1 class="text-4xl font-bold text-blue-600">Tailwind Test</h1>
</body>

</html>