<section
  class="section bg-[url('/images/veribly-background-4.png')] bg-no-repeat bg-cover bg-center relative"
>
  <div id="particles-js" class="absolute inset-0 z-0"></div>

  <div class="section-inner z-10 relative">
    <div
      class="grid grid-cols-1 text-center items-center justify-center lg:grid-cols-2 lg:text-start gap-10 min-h-[60dvh]"
    >
      <div class="hero-left flex flex-col lg:items-start gap-6">
        <h1 class="text-10xl font-bold text-text_clr_1 leading-tight">
          Create<br />certificates<br />effortlessly
        </h1>
        <h2 class="text-2xl font-semibold text-text_clr_2">
          Generate professional certificates in just a few clicks.
        </h2>
        <button class="btn-primary-shadow btn-primary w-80 mx-auto lg:mx-0">
          Get Started
        </button>
      </div>

      <div class="hero-right">
        <img src="/images/veribly-screenshot-mac-1.png" class="" alt="" />
      </div>
    </div>
  </div>
</section>

<section class="section">
  <section class="section-inner">
    <h1 class="section-title">Why Veribly?</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
      <div class="card why-card">
        <img src="/icons/settings.png" alt="gear icon" class="" />
        <h2>Simple</h2>
        <p>Easily create certificates with our intuitive editor.</p>
      </div>
      <div class="card why-card">
        <img src="/icons/settings.png" alt="gear icon" class="" />
        <h2>Simple</h2>
        <p>Easily create certificates with our intuitive editor.</p>
      </div>
      <div class="card why-card">
        <img src="/icons/settings.png" alt="gear icon" class="" />
        <h2>Simple</h2>
        <p>Easily create certificates with our intuitive editor.</p>
      </div>
    </div>
  </section>
</section>
