<section
  class="hero section bg-[url('/images/veribly-background-4.png')] bg-no-repeat bg-cover bg-center relative"
>
  <div id="particles-js" class="absolute inset-0 z-0"></div>

  <div class="section-inner z-10 relative">
    <div
      class="grid grid-cols-1 text-center items-center justify-center lg:grid-cols-2 lg:text-start gap-10 min-h-[60dvh]"
    >
      <div class="hero-left flex flex-col lg:items-start gap-6">
        <h1 class="text-10xl font-bold text-text_clr_1 leading-tight">
          Online<br />Certificate<br />Generator
        </h1>
        <h2 class="text-2xl font-semibold text-text_clr_2">
          Generate professional certificates in just a few clicks.
        </h2>
        <button class="btn-primary-shadow btn-primary w-80 mx-auto lg:mx-0">
          Get Started
        </button>
      </div>

      <div class="hero-right">
        <img
          src="/images/veribly-screenshot-mac-1.png"
          class="filter drop-shadow-monitor"
          alt="Monitor"
        />
      </div>
    </div>
  </div>
</section>

<section class="why-veribly section">
  <section class="section-inner">
    <h1 class="section-title">Why Veribly?</h1>
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-10">
      <div class="card why-card">
        <img src="/icons/settings.png" alt="gear icon" class="" />
        <h2>Simple</h2>
        <p>Easily create certificates with our intuitive editor.</p>
      </div>
      <div class="card why-card">
        <img src="/icons/tablet-and-laptop.png" alt="gear icon" class="" />
        <h2>Branded</h2>
        <p>Customize designs to match your brand identity.</p>
      </div>
      <div class="card why-card">
        <img src="/icons/share-arrow.png" alt="gear icon" class="" />
        <h2>Shareable</h2>
        <p>Generate certificates ready to share online.</p>
      </div>
    </div>
  </section>
</section>

<section
  class="create-cert section bg-[url('/images/veribly-background-4.png')] bg-no-repeat bg-cover"
>
  <section class="section-inner">
    <div class="grid grid-cols-1 gap-y-10 lg:grid-cols-2 lg:gap-x-10">
      <div class="flex gap-8 flex-col">
        <h1 class="section-title lg:text-start mb-0 text-text_clr_1">
          Create Certificates Online
        </h1>
        <div class="create-cert-p">
          <span class="create-cert-p-tag">
            Generate certificates in seconds — no design skills needed.
          </span>
          Veribly makes it easy to recognize achievement with beautifully
          crafted certificates for employees, students, or event attendees. Just
          choose a template and you're ready to go.
        </div>

        <div class="create-cert-p">
          <span class="create-cert-p-tag"> Download or share instantly. </span>
          With Veribly, you can generate up to 5 certificates daily for free and
          deliver them digitally or in print. Perfect for coaches, trainers, and
          growing teams.
        </div>

        <div class="create-cert-p">
          <span class="create-cert-p-tag"> Need more power? Automate it. </span>
          Connect Veribly to your workflow with our simple API or nocode
          integrations. Automate certificate delivery for courses, events, or
          CRM systems — all without manual work.
        </div>
      </div>
      <div class="grid items-start place-items-center">
        <img src="/images/monitor-veribly-art.png" alt="" />
      </div>
    </div>
  </section>
</section>

<section class="section">
  <section class="section-inner">
    <div class="grid gap-12 justify-center items-center">
      <div class="sub-p">
        <span class="sub-p-tag"> High Quality Templates </span>
        Veribly makes it easy to recognize achievement with beautifully crafted
        certificates for employees, students, or event attendees. Just choose a
        template and you're ready to go.
      </div>

      <div class="sub-p">
        <span class="sub-p-tag">No Design Skills Needed</span>
        With Veribly, you can generate up to 5 certificates daily for free and
        deliver them digitally or in print. Perfect for coaches, trainers, and
        growing teams.
      </div>

      <div class="sub-p">
        <span class="sub-p-tag">Download for Free</span>
        Connect Veribly to your workflow with our simple API or nocode
        integrations. Automate certificate delivery for courses, events, or CRM
        systems — all without manual work.
      </div>
    </div>
  </section>
</section>
